@media screen and (min-width: 600px) {
  .contact-form-container {
    max-width: 50vw;
    display: inline-block;
    // padding-left: 25vw;
    // border: 1px solid red;
    overflow: hidden;

  }

}
